<header>
  <%= image_tag "logo.jpg", alt: "Logo", size: "200x200"%>

  <%= form_tag search_results_path do %>
     <div class="col-lg-6">
        <div class="input-group">
  	  <%= text_field_tag :keywords %>
          <span class="input-group-btn">
            <%= submit_tag 'Search', :class => "btn btn-default" %>
          </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  <% end %>
  <p>
    <br /><nav><%= render@categories%></nav>
  </p>
</header>
<%= render 'bought' %>

<%= render@products%>

<footer>
  Developed by: Steven Hanson
</footer>